<h2>Por Región</h2>
<hr>

<div class="row">
  <div class="col text-center">

    <button *ngFor="let region of regions" class="btn mx-2 btn-outline-primary" (click)="searchByRegion(region)">
      {{region}}

    </button>

    <!--  <app-search-box
      (onDebounce)="searchByRegion($event)"
      placeholder="Buscar por Region"></app-search-box

        >
        -->
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <app-country-table [countries]="countries"></app-country-table>

  </div>
</div>
